{{define "title"}}Your post {{end}} {{define "main"}}
<h2>Your Posts</h2>
<div>
  {{range .Posts}}
  <article>
    <div>
      <a href="post/{{.UserID}}"><h3>{{.Title}}</h3></a>
      <time datetime="{{.Created}}"></time>
      <div>Posted by {{.UserName}}</div>
    </div>
    <section>
      <p>{{.Content}}</p>
    </section>
    <div>
      <div>Likes: {{.Like}}, Dislikes: {{.Dislike}}</div>
      <div>
        Categories: {{range $id, $name := .Categories}} {{$name}}, {{end}}
      </div>
    </div>
  </article>
  {{end}}
</div>

{{end}}
